    <div class="container">
      <div class="text-center">
        <h1>➺ ffmproviser ❥</h1>
      </div>

<!-- form begins -->

      <div class="well">
        <fieldset>
          <legend>What do you want to do?</legend>
          <h4>Select from the following.</h4>
          <br />
          <ul>
            <li>
              <div id="show_display_info">Display info</div>
            </li>
            <li>
              <div id="show_add_subtitles">Add subtitles track</div>
            </li>
            <li>
              <div id="show_remove_audio_track">Remove audio track</div>
            </li>
            <li>
              <div id="show_add_audio_track">Add audio track (replace)</div>
            </li>
            <li>
              <div id="show_web">Export for web</div>
            </li>
          </ul>
        </fieldset>
       </div>

  <div id="formloader">
    <div class="display_info" style="display:none;">
    <%= render "display_info" %>
    </div>
    <div class="web" style="display:none;">
    <%= render "web" %>
    </div>
    <div class="add_subtitles" style="display:none;">
    <%= render "add_subtitles" %>
    </div>
    <div class="remove_audio_track" style="display:none;">
    <%= render "remove_audio_track" %>
    </div>
    <div class="add_audio_track" style="display:none;">
    <%= render "add_audio_track" %>
    </div>
  </div>

</div> <!-- container -->
