<div class="container">

  <div class="text-center">
    <h1>➺ ffmproviser ❥</h1>
  </div>

<!-- form begins -->

      <div class="well">
        <fieldset>
          <legend>What do you want to do?</legend>
          <h4>Select from the following.</h4>
          <br />
          <ul>
            <li>
              <div id="show_display_info"><button type="button" class="btn btn-default">Display Info</button></div><br/>
            </li>
            <li>
              <div id="show_add_subtitles"><button type="button" class="btn btn-default">Add subtitles track</button></div><br/>
            </li>
            <li>
              <div id="show_remove_audio_track"><button type="button" class="btn btn-default">Remove audio track</button></div><br/>
            </li>
            <li>
              <div id="show_add_audio_track"><button type="button" class="btn btn-default">Add audio track (replace)</button></div><br/>
            </li>
            <li>
              <div id="show_webm_for_web"><button type="button" class="btn btn-default">Export to webm for web</button></div><br/>
            </li>
            <li>
              <div id="show_h264_for_web"><button type="button" class="btn btn-default">Export to h264 for web</button></div><br/>
            </li>
          </ul>
        </fieldset>
       </div>

  <div id="formloader">
    <div class="display_info" style="display:none;">
    <%= render "display_info" %>
    </div>
    <div class="web" style="display:none;">
    <%= render "web" %>
    </div>
    <div class="add_subtitles" style="display:none;">
    <%= render "add_subtitles" %>
    </div>
    <div class="remove_audio_track" style="display:none;">
    <%= render "remove_audio_track" %>
    </div>
    <div class="webm_for_web" style="display:none;">
    <%= render "webm_for_web" %>
    </div>
    <div class="h264_for_web" style="display:none;">
    <%= render "h264_for_web" %>
    </div>
    <div class="add_audio_track" style="display:none;">
    <%= render "add_audio_track" %>
    </div>


  </div>

      <div class="text-center">
        <div class="reload">
          <p><button type="button" class="btn btn-default">Start over!</button></p>
        </div>
      </div>


</div> <!-- container -->
